<div class="row">
    <div class="col-6 address-block mb-4" style="cursor: pointer;" (click)="onSelect.emit(address)" *ngFor="let address of addresses">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="row">
                            <div class="col">
                                <input type="radio" [checked]="selectedAddress && selectedAddress.id == address.id"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <strong>{{address.firstName}} {{address.lastName}}</strong>
                                <span class="bg-secondary text-white p-1 ml-1 mr-1">{{address.addressType}}</span>
                                <strong>{{address.contactNumber}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{address.areaDetails}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>